*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

/* nawigacja */

.nav{
    height: 50px;
    background-color: #333;
    text-align: center;
    line-height: 50px;
    font-size: 0;
}


.nav-item{
    display: inline-block;
}

.nav-item a{
    padding: 0 50px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: color .3s;
}

.nav-item a:hover{
    color: #0086f3;
}

/* header */
.header-img{
    position: relative;
    height: 300px;
    background-image: url('../img/mountains-1.png');
    background-size: cover;
    background-position: 0 100%;
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.header-text h1{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 ,3, 27, .4);
}